* {
    margin: 0;
}

header {
    padding: 25px;
    background-color: #d00fe2a9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #00ff55;
    font-weight: bold;
    font-family: sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: .8rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

ul li:last-child {
    background-color: #00f752a9;
    padding: .5rem;
    border-radius: 5px;
}

.container{
    display: flex;

    min-height: 100vh;
    gap: 1rem;
    padding: 4rem;
}

aside, section {
    border: 1px solid black;
}

aside {
    flex-basis: 25%;
}

section {
    flex: 1;
}


img {
    width: 30%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}

main {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

button {
    background-color: #330be4;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    border-style: none;
    width: 100px;
    line-height: 0;
    cursor: pointer;
}

i {
    padding: 2px;
}
